
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title th:text="|${name}|"></title>
<link rel="stylesheet"
	th:href="@{/static/plugin/bootstrap/css/bootstrap.min.css}" />
<link th:href="@{/static/layui/css/layui.css}" rel="stylesheet" />
<link th:href="@{/static/layui/css/layui.css}" rel="stylesheet" />
<link th:href="@{/static/layui/css/layui.css}" rel="stylesheet" />
<link rel="stylesheet" th:href="@{/static/plugin/ztree/css/demo.css}">
<link rel="stylesheet"
	th:href="@{/static/plugin/ztree/css/zTreeStyle/zTreeStyle.css}">
</head>
<body>
	<!-- lay-allowclose="false" -->
	<div class="layui-tab layui-tab-brief"
		th:lay-filter="|${label}tabList|" th:id="|${label}tabList|"></div>
	<script th:id="|${label}detail|" type="text/html">
  <ul class="layui-tab-title" th:lay-filter="|${label}Tab|" th:id="|${label}TabHead|">
    <li class="layui-this" lay-id="1" >数据列表</li>
	<li lay-id="2">关系管理</li>
  </ul>
  <div class="layui-tab-content" th:id="|${label}TabContent|">
    <div class="layui-tab-item layui-show" th:insert="~{divTemp :: ABTableList}">
	</div>
    <div class="layui-tab-item" th:insert="divTemp::relationManage">
    </div>
  </div>
</script>
	<script th:src="@{/static/plugin/jQuery/jquery-2.2.3.min.js}"></script>
	<script th:src="@{/static/plugin/bootstrap/js/bootstrap.min.js}"></script>
	
	<script th:src="@{/static/layui/layui.js}"></script>
	<script th:inline="javascript" type="text/javascript">
		var MODULE_NAME = '[(${MODULE_NAME})]';
	</script>
	<script th:src="@{/static/util.js}"></script>
		<script id="toolbarDemo" type="text/html">
<button class="layui-btn layui-btn-sm"  lay-event="detail">详情</button>
[(${toolbarOpt})]
</script>
	<script id="barDemo" type="text/html">
[(${opt})]
<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>		
</script>
	<script th:inline="javascript" type="text/javascript">
	var currentNode;
	var relStartId;
	var relStartLabel="[(${aLabel})]";
	var endList={};
	var tabIds={};
	var rowi=null;
	var pIdv=null;
	var guidData=null;
	var endList;
	var tabIds;

	var formUrl="[(${MODULE_NAME})]/layui/[(${label})]/form";
	var label = '[(${label})]';
[(${layUse})]
	var getTpl = $("#[(${label})]detail").html();
	$("#[(${label})]tabList").html(getTpl);

	var config = {
		    elem: '#table[(${label})]'
			    ,method: 'POST' //方式
			    ,url:'[(${MODULE_NAME})]/cruder/[(${label})]/childrenList'
			    ,dataType: 'json'
			    ,contentType:'application/json;charset=UTF-8'
			    ,toolbar: true
			    ,toolbar: '#toolbarDemo'
			    ,title: '[(${name})]数据表'
			   /*  ,totalRow: true */
			    ,id: 'table[(${label})]'
			    ,cols: [ [
			    	{type:'checkbox', fixed: 'left'}[# th:each="ci : ${cols}"]
			     	,{field:'[(${ci.field})]',edit: 'text', title:'[(${ci.name})]',sort: true}[/]
					,{fixed: 'right',title:'操作', align:'center', toolbar: '#barDemo',unresize: true, width: 260}
			    ] ]
			    ,page: true
			    ,done: fixRightTool
			    ,parseData: parseTableData
		  }
  crudTable = table.render(config);

	var aConfig = {
		    elem: '#table[(${aLabel})]'
			    ,method: 'POST' //方式
			    ,url:'[(${MODULE_NAME})]/cruder/[(${aLabel})]/query'
			    ,dataType: 'json'
			    ,contentType:'application/json;charset=UTF-8'
			    ,title: '[(${name})]数据表'
			   /*  ,totalRow: true */
			    ,id: 'table[(${aLabel})]'
			    ,cols: [ [
			    	{field:'id', title:'编码',sort: true}
			     	,{field:'name', title:'名称',sort: true}
			    ] ]
			    ,page: true
			    ,done: fixRightTool
			    ,parseData: parseTableData
		  }
	var naviTable = table.render(aConfig);
  //监听提交
  form.on('submit(edit[(${label})])', function(data){
  	formSubmit();
   return false;
  });

//表单取值
	layui.$('#save'+[[${label}]]).on('click', formSubmit);
function formSubmit(){
	var formData={};
	[# th:each="ci : ${colCodes}"]
	  formData['[(${ci})]']= $('#'+'[(${ci})]').val();
	  [/]
	formData['poId']=$('#poIdReload').val();
	var genurl = "[(${MODULE_NAME})]/cruder/[(${label})]/save";

	$.ajax({
	    type: "post",
	    url: genurl,
		dataType : "json",
		contentType : "application/json;charset=UTF-8",
		data: JSON.stringify(formData),
		success: function (d) {
		   if(!d.status){
  			   layer.alert(d.msg, {icon: 5})
  		   }else{
  			   layer.alert(d.msg, {icon: 6})
  		   }
	           refresh()
      	},
 		error:function (d) {
	        layer.alert(d.msg, {icon: 5})
	        refresh()
	    }
	    });
   }
  //监听提交
  form.on('submit(searchDO)', function(data){
	  var nameReload = $('#nameReload').val();
	  config.url='[(${MODULE_NAME})]/cruder/[(${label})]/search';
	  crudTable = table.render(config);


        //执行重载
        crudTable.reload({
          page: {
            curr: 1 //重新从第 1 页开始
          }
          ,where: {
              name: nameReload
          }
        });
    return true;
  });
//监听表格复选框选择
  table.on('row(table[(${aLabel})])', function(obj){
	aId=obj.data.id;
    childList(obj.data)
  });
  function childList(aNode) {
	  pIdv= aNode.id;
	  guidData = aNode;
	  guidData.label='[(${label})]';
	config.url='[(${MODULE_NAME})]/cruder/[(${aLabel})]/childList/[(${label})]';
	crudTable = table.render(config);
    //执行重载
    crudTable.reload({
      page: {
        curr: 1 //重新从第 1 页开始
      }
      ,where: guidData
    });
    return true;
  }


  //监听表格复选框选择
  table.on('checkbox(table[(${label})])', function(obj){
    //console.log(obj)
    currentNode=obj.data;
    form.val('edit[(${label})]', obj.data);
    $('#poId').val($('#poIdReload').val());
    if(tabIds!=null){
    	for(var tab in tabIds){
    		element.tabDelete('[(${label})]tabList',  tabIds[tab]);
    	}
    }
    //调用关系
    objectRelation(obj.data);
  });

  table.on('rowDouble(table[(${label})])', function(obj){
	    //console.log(obj) $('#edit[(${label})]')[0].reset();
	    currentNode=obj.data;
	    var width='65%';
	    if(obj.data.size>7){
	    	width='900px';
	    }

		layer.open({
	      type: 2,
	      anim: 0,
	      shade: 0,
	      title: "编辑",
	      maxmin: true,
	      area: [width, '55%'],
	      btn:['关闭'],
	      yes:function(index,layero)
	      {
	      	var body = layer.getChildFrame('body', index);
			close()
	          //index为当前层索引
	        layer.close(index)
	      },
	      cancel:function(){//右上角关闭毁回调
	     	 close()
	     	 var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
	  		parent.layer.close(index); //再执行关闭
	      },
	      zIndex: layer.zIndex //重点1
	      ,success: function(layero, index){
	        layer.setTop(layero); //重点2
	   	    var body = layer.getChildFrame('body', index);

		   	var body = layer.getChildFrame('body', index);
	        if($('#parentId')&&$('#parentId').val()){
			body.find('#parentId').val($('#parentId').val())
			}
			      if($('#parentid')&&$('#parentid').val()){
			body.find('#parentId').val($('#parentId').val())
			}
			if(guidData){
			body.find('#relStartId').val(guidData.id)
			body.find('#relStartLabel').val(guidData.label)
			}
	        var winName=layero.find('iframe')[0]['name'];
	   	 var iframeWin = window[winName]; //得到iframe页的窗口对象，执行iframe页的方法：iframeWin.method();
	   	 // console.log(body.html()) //得到iframe页的body内容
	   	 if(iframeWin){
	   		 iframeWin.initForm(obj.data)
	   	 }
	   	// console.log(obj.data)
	   	  //body.find('input').val('Hi，我是从父页来的')
	      },
	      content: formUrl+"/"+obj.data.id
	  });

	   $('#poId').val($('#poIdReload').val());
	   currentNode=obj.data;
	});

//监听编辑
  table.on('edit(table[(${label})])', function(obj){
    var value = obj.value //得到修改后的值
    ,currentNode = obj.data //得到所在行所有键值
    ,field = obj.field; //得到字段
    var genurl = "[(${MODULE_NAME})]/cruder/[(${label})]/save";
    data[field]=value;

    $.ajax({
       type: "post",
       url: genurl,
   	dataType : "json",
   	contentType : "application/json;charset=UTF-8",
   	data: JSON.stringify(currentNode),
   	success: function (d) {
   		if(!d.status){
			   layer.alert(d.msg, {icon: 5})
		   }else{
   		layer.msg('[ID: '+ data.id +'] ' + field + ' 字段更改为：'+ value);
		   }
             // layer.alert(d.msg, {icon: 6})
        	},
    error:function (d) {
           layer.alert(d.msg, {icon: 5})
    }
   });

  });
  //监听工具条
  table.on('tool(table[(${label})])', function(obj){
    var data = obj.data;
    if(obj.event === 'del'){
      layer.confirm('真的删除行么', function(index){
        obj.del();
        delDomain(obj)
        layer.close(index);
      });
    }
    if(obj.event === 'opt'){
    	operate(obj.data);
      }
    [(${activLogic})]
  });

//头工具栏事件
  table.on('toolbar(table[(${label})])', function(obj){
      var checkStatus = table.checkStatus(obj.config.id);
      var data = rowi;
	  [(${toolBarActiveLogic})]
  });

	let isMainData=false;
	// 监听单选框的选中事件
	form.on('radio(isMainData)', function(data){
		isMainData=data.value
	});
  /**
	 * 保存关系
	 */
	 layui.$('#relationSave').on('click',function (po){
		 var endLabel= $("#selectPo").val();
		 var endCode = $("#selectObj").val();
		 var relationCode = $("#relationCode").val();
		 var relationName = $("#relationName").val();
		 var startCode = $("#id").val();
		 if(endCode==null||startCode==null){
			 return;
		 }
		 var genurl = "[(${MODULE_NAME})]/objectRel/[(${label})]/"+endLabel+"/"+relationCode+"/save";

		 var formData={};
		 var relations=new Array();
		 var relation={};
		 var relProp={};
		 relation['endId']=endCode;
		 relation['startId']=startCode;
		 relProp['label']=relationCode;
		 relProp['name']=relationName;
		 if(isMainData){
			 relProp['mainData']='true';
		 }
		 relation['startLabel']="[(${label})]";
		 relation['endLabel']=endLabel;
		 relations[0]=relation;
		 formData['relations']=relations;
		 formData['relProp']=relProp;
		//
		//formData['endCode']=$('#poIdReload').val();

		 $.ajax({
				type: "post",
				url: genurl,
				dataType : "json",
				contentType : "application/json;charset=UTF-8",      //
				data: JSON.stringify(formData),
				success: function (d) {
					if(!d.status){
						   layer.alert(d.msg, {icon: 5})
					   }else{
				    layer.alert(d.msg, {icon: 6})
				    refresh()
					   }
				},
				error:function (d) {
				      layer.alert(d.msg, {icon: 5})
				      refresh()
				}
		    });
	});
	//表单取值
	layui.$('#relationObj').on('click', function(data){
	 var select= $("#selectPo").val();
	 var selectPoName = $("#selectPoName").val();
	 if(select==null||select==""){
		 $("#selectPo").val("Po");
		 select="Po"
	 }
	 layer.open({
      type: 2,
      anim: 0,
      shade: 0,
      title: "关联"+selectPoName,
      area: ['70%', '80%'],
      btn:['关闭'],
      yes:function(index,layero)
      {
      	var body = layer.getChildFrame('body', index);
      	var selected = body.find('#selectObj').val();
	    var selectedName = body.find('#selectObjName').val();

      	$("#relationObj").val(selectedName);
      	$("#selectObj").val(selected);

				 close()
          //index为当前层索引
          layer.close(index)
      },
      cancel:function(){//右上角关闭毁回调
     	 close()
     	 var index = parent.layer.getFrameIndex(data.name); //先得到当前iframe层的索引
  		parent.layer.close(index); //再执行关闭
      },
      zIndex: layer.zIndex //重点1
      ,success: function(layero, index){
        layer.setTop(layero); //重点2
   	  var body = layer.getChildFrame('body', index);
   	 // var iframeWin = window[layero.find('iframe')[0]['name']]; //得到iframe页的窗口对象，执行iframe页的方法：iframeWin.method();
   	 // console.log(body.html()) //得到iframe页的body内容
   	 //console.log(data)
   	  //body.find('input').val('Hi，我是从父页来的')
      },
      content: "[(${MODULE_NAME})]/objectRel/[(${label})]/"+select
  });
});

	layui.$('#relationPo').on('click', function(data){
		  layer.open({
	        type: 2,
	        anim: 0,
	        shade: 0,
	        title: "选择",
	        area: ['70%', '80%'],
	        btn:['关闭'],
	        yes:function(index,layero)
	        {
	        	var body = layer.getChildFrame('body', index);
	        	var selected = body.find('#selectPo').val();
	        	var selectedName = body.find('#selectPoName').val();

	        	$("#selectPo").val(selected);
				//$("#selectPoName").text(selectedName);
				$("#relationPo").val(selectedName);
				close()
	            //index为当前层索引
	            layer.close(index)
	        },
	        cancel:function(){//右上角关闭毁回调
	       	 close()
	       	 var index = parent.layer.getFrameIndex(data.name); //先得到当前iframe层的索引
	    		parent.layer.close(index); //再执行关闭
	        },
	        zIndex: layer.zIndex //重点1
	        ,success: function(layero, index){
	          layer.setTop(layero); //重点2
	     	  var body = layer.getChildFrame('body', index);
	     	 // var iframeWin = window[layero.find('iframe')[0]['name']]; //得到iframe页的窗口对象，执行iframe页的方法：iframeWin.method();
	     	 // console.log(body.html()) //得到iframe页的body内容
	     	// console.log(data)
	     	  //body.find('input').val('Hi，我是从父页来的')
	        },
	        content: "[(${MODULE_NAME})]/vue/poSelect"
	    });
	});

	function addTab(tabId,title,content){
		element.tabDelete('[(${label})]tabList', tabId);
		//新增一个Tab项
		element.tabAdd('[(${label})]tabList', {
		        title: title
		        ,content: content
		        ,id: tabId
		})
		element.tabChange('[(${label})]tabList', tabId)
	}
	var endList;
	function objectRelation(po){
		 var genurl = "[(${MODULE_NAME})]/cruder/[(${label})]/tabList";

		 $.ajax({
		      type: "post",
		      url: genurl,
		        dataType : "json",
		        contentType : "application/json;charset=UTF-8",      //
		        data: JSON.stringify(po),
		        success: function (d) {
					if(d.data) {
						var tabs = d.data.tabList;
						if (tabs.length > 0) {
							for (var tab in tabs) {
								addTab(tabs[tab].tabId, tabs[tab].tabTitle, tabs[tab].tabContent);
								tabIds[tab] = tabs[tab].tabId;
							}
						}
						endList = d.data.relationEnd;
						$("#[(${label})]ExistRelation").html(d.data.existRelation);
						form.render('select');
					}
		      	},
		 		error:function (d) {
			    }
		    });
	}

	form.on('select([(${label})]ExistRelation)', function(data){
		$("#relationCode").val(data.value);

		var sel = data.elem;
		for(var i in sel){
			if(parseInt(i)&&sel[i].value==data.value){
				$("#relationName").val(sel[i].label);
			}
		}

		if(endList!=null){
			var endNode=endList[data.value];

			$("#selectPo").val(endNode["label"]);
			//$("#selectPoName").text(selectedName);
			$("#relationPo").val(endNode["name"]);
		}

	})
  [(${layField})]


function operate(po){
	 var genurl = "[(${MODULE_NAME})]/admin/query";
	 if(po.cypher==undefined){
		 return;
	 }
	 $.ajax({
	      type: "post",
	      url: genurl,
	        dataType : "json",
	        contentType : "application/json;charset=UTF-8",      //
	        data: JSON.stringify(po),
	        success: function (d) {
	           layer.alert(d.msg, {icon: 6})
	           refresh()
	      	},
	 		error:function (d) {
		        layer.alert(d.msg, {icon: 5})
		        refresh()
		    }
	    });
}

  [(${toolFun})]


function delDomain(po){
	 var genurl = "[(${MODULE_NAME})]/cruder/[(${label})]/del";
	 var vm=$("#table[(${label})]");
	 var formData=po.data;

	 $.ajax({
	      type: "post",
	      url: genurl,
	        dataType : "json",
	        contentType : "application/json;charset=UTF-8",      //
	        data: JSON.stringify(formData),
	        success: function (d) {
	           layer.alert(d.msg, {icon: 6})
	           refresh()
	      	},
	 		error:function (d) {
		        layer.alert(d.msg, {icon: 5})
		        refresh()
		    }
	    });
}
function refresh(){
	crudTable.reload( { //表格的id
	    page: {
	        curr: 1 //重新从第 1 页开始
	    }
	  });
}
</script>
</body>
</html>