
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:utext="|#{po.name}管理|">管理</title>
<link rel="stylesheet"
	th:href="@{/static/plugin/bootstrap/css/bootstrap.min.css}" />
<link th:href="@{/static/layui/css/layui.css}" rel="stylesheet" />
<link th:href="@{/static/layui/dist/dropdown/dropdown.css}" rel="stylesheet" />
</head>
<body>
	<h3 th:utext="|#{po.name}信息|">信息</h3>
	<form class="layui-form" lay-filter="example">
		<div class="layui-form-item">
			<label class="layui-form-label">ID：</label>
			<div class="layui-input-inline">
				<input name="id" class="layui-input" id="id"
				placeholder="新增不用输入，唯一标识符"	autocomplete="off">
			</div>
			<label class="layui-form-label">类的英文名：</label>
			<div class="layui-input-inline">
				<input name="label" class="layui-input" id="label"
				placeholder="请输入 业务对象的英文名,此字段是业务对象的唯一标识符"	autocomplete="off" required>
			</div>
			<label class="layui-form-label">中文名称：</label>
			<div class="layui-input-inline">
				<input name="name" class="layui-input" id="name"
					placeholder="请输入 业务对象的名称" autocomplete="off" lay-verify="name" required>
			</div>
			</div>
			<!-- <div class="layui-form-item">
			<label class="layui-form-label">主键：</label>
			<div class="layui-input-inline">
				<input name="primaryKey" class="layui-input" id="primaryKey"
					autocomplete="off" required>
			</div>
			<label class="layui-form-label">数据库表：</label>
			<div class="layui-input-inline">
				<input name="tableName" class="layui-input" id="tableName"
					autocomplete="off">
			</div>
		</div> -->
		<div class="layui-form-item">
			<label class="layui-form-label">属性列：</label>
			<div class="layui-input-block">
				<input name="columns" class="layui-input" id="columns"
					placeholder="请输入 columns,多列用英文逗号隔开,主键列必须有。" autocomplete="off">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">表头列：</label>
			<div class="layui-input-block">
				<input name="header" class="layui-input" id="header"
					placeholder="请输入表头列,多列用英文逗号隔开,与属性列个数和顺序保持一致。" autocomplete="off">
			</div>
		</div>
		<!-- <div class="layui-form-item">
		    <div class="layui-input-block">
		      <button class="layui-btn" lay-submit lay-filter="example">保存</button>
		      <button type="reset" class="layui-btn layui-btn-primary">重置</button>
		    </div>
		  </div> -->
	</form>
	<input type="button" class="layui-btn" onclick="saveDomain();"
		value="保存" />
	<h3 th:utext="|#{po.name}列表|">领域对象列表</h3>
	<!-- <input type="button" class="u-btn save-btn" onclick="queryDomain();"
		value="查询#{po.name}" /> -->
	<div class="row m-sm no-padding">
		<div class="demoTable">
				<div class="layui-form-item">
					<label class="layui-form-label">名称：</label>
					<div class="layui-input-inline">
						<input name="name" class="layui-input" id="nameReload"
							th:placeholder="|请输入 #{po.name}名称|" autocomplete="off" lay-verify="name">
					</div>
					<label class="layui-form-label">Label：</label>
					<div class="layui-input-inline">
						<input name="label" class="layui-input" id="labelReload"
							th:placeholder="|请输入 #{po.name}Label|" autocomplete="off">
					</div>
				</div>
				<button class="layui-btn" lay-filter="searchDO" data-type="reload">搜索<i class="layui-icon">&#xe615;</i></button>
		</div>
		<table class="layui-table" id="dmTable" lay-filter="dmTable">
		</table>
	   <!-- <button class="layui-btn layui-btn-sm" 
               lay-filter="test1"
               lay-dropdown="{menus: [{layIcon:'layui-icon-username',txt: '管理', event:'detail'},
{layIcon: 'layui-icon-set',txt: '接口', event:'interFace'}, 
{layIcon: 'layui-icon-logout', txt: '字段', event:'field'}]}">
           <span>更多操作</span>
           <i class="layui-icon layui-icon-triangle-d"></i>
       </button> -->
	</div>
	<script th:src="@{/static/plugin/jQuery/jquery-2.2.3.min.js}"></script>
	<script th:src="@{/static/plugin/bootstrap/js/bootstrap.min.js}"></script>
	
	<script th:src="@{/static/layui/layui.js}"></script>
	<script th:src="@{/static/layui/lay/modules/form.js}"></script>
	<script th:inline="javascript" type="text/javascript">
		var MODULE_NAME = '[(${MODULE_NAME})]';
	</script>
	<script th:src="@{/static/util.js}"></script>
<script id="barDemo" type="text/html"> 
<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="field">字段</a>
<a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="interFace">接口信息</a>
<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
<!--  <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit">编辑</a>
	 -->
</script>
<script id="toolbarDemo" type="text/html">
<button class="layui-btn layui-btn-sm"  lay-event="detail">管理</button>
<button class="layui-btn layui-btn-sm" lay-event="naviDetail">导航管理</button>
<button class="layui-btn layui-btn-sm" lay-event="validField">校验</button>
</script>
<script type="text/javascript">
var form,layer,laypage,table,dropdown;
	layui.config({
		dir: '/static/layui/',
        base: '/static/layui/lay/modules/'
    }).use(['form','layer','table','laypage', 'layedit', 'laydate','dropdown'], function(){
		  form = layui.form
		  ,laypage = layui.laypage
		  ,layer = layui.layer
		  ,table = layui.table;
		  dropdown = layui.dropdown;
		  
		  //监听提交
		  form.on('submit(demoForm)', function(data){
			  refresh()
		    return true;
		  });
		  
		  form.on('submit(example)', function(data){
			  saveDomain(data.field);
			    return true;
		  });
		  
		  		  
		  crudTable = table.render({
			    elem: '#dmTable'
			    ,method: 'POST' //方式
			    ,url:'[(${MODULE_NAME})]/metadata/query'
			    ,dataType: 'json'
			    ,contentType:'application/json;charset=UTF-8'
			    ,toolbar: true
			    //头部工具栏
                ,toolbar: '#toolbarDemo'
			    ,title: '用户数据表'
			    ,id: 'table[(${label})]'
			    ,cols: [ [
			    	{type:'checkbox', fixed: 'left',fixed: true}
			    	,{field:'id', width:200, title:'ID' ,sort: true}
					,{field:'label', width:200, title:'Label' ,sort: true}
					,{field:'name',title:'名称'}
					,{field:'primaryKey',title:'主键'}
					,{field:'columns',title:'属性列'}
					,{field:'header',title:'表头'}
					,{fixed: 'right', align:'center', title:'操作',toolbar: '#barDemo',unresize: false, width: 260}
			    ] ]
			    ,page: true
			    ,done: fixRightTool
			    ,parseData: parseTableData
			  });
var rowi=null;		  
  //监听表格复选框选择
  table.on('checkbox(dmTable)', function(obj){
	  form.render();
	  rowi=obj.data;
	  form.val('example', rowi);
  });
  
   //头工具栏事件
   table.on('toolbar(dmTable)', function(obj){
       var checkStatus = table.checkStatus(obj.config.id);
       var data = rowi;
       obj.data=rowi;
       activeEvent(obj)
   });
  
  //监听工具条
  table.on('tool(dmTable)', function(obj){
    var data = obj.data;
    if(obj.event === 'del'){
      layer.confirm('真的删除行么', function(index){
        obj.del();
        delDomain(obj)
        layer.close(index);
      });
    }
    activeEvent(obj)
  });
  
  function activeEvent(obj){
	  if(obj.event === 'edit'){
	    	 form.val('example', data);
	    }
	    if(obj.event === 'detail'){
	    	 objectManage(obj.data);
	    }
	    if(obj.event === 'naviDetail'){
	    	naviDetail(obj.data);
	   }
	    
	    if(obj.event === 'interFace'){
	    	interfaceData(obj.data);
	    }
	    if(obj.event === 'field'){
	    	fieldData(obj.data)         
	      }
	    if(obj.event === 'validField'){
	    	validField(obj.data)         
	      }
  }
  function interfaceData(data){
	  layer.open({
          type: 2,
          anim: 0,
          shade: 0,
          title: data.name,
          area: ['95%', '90%'],
          btn:['关闭'],
          yes:function(index,layero)
          {
				 close()
              //index为当前层索引
              layer.close(index)
          },
          cancel:function(){//右上角关闭毁回调
         	 close()
         	/*  var index = parent.layer.getFrameIndex(data.name); //先得到当前iframe层的索引
      		parent.layer.close(index); //再执行关闭 */
          },
          zIndex: layer.zIndex //重点1
          ,success: function(layero){
            layer.setTop(layero); //重点2
          },
          content: "[(${MODULE_NAME})]/interface/"+data.label
      });
  }
  function objectManage(data){
	  layer.open({
          type: 2,
          anim: 0,
          shade: 0,
          title: data.name,
          area: ['100%', '100%'],
          btn:['关闭'],
          yes:function(index,layero)
          {
				 close()
              //index为当前层索引
              layer.close(index)
          },
          cancel:function(){//右上角关闭毁回调
         	 close()
         	/*  var index = parent.layer.getFrameIndex(data.name); //先得到当前iframe层的索引
      		parent.layer.close(index); //再执行关闭 */
          },
          zIndex: layer.zIndex //重点1
          ,success: function(layero){
            layer.setTop(layero); //重点2
          },
          content: "[(${MODULE_NAME})]/manage/"+data.label
      });
  }
  function naviDetail(data){
	  layer.open({
          type: 2,
          anim: 0,
          shade: 0,
          title: data.name,
          area: ['95%', '90%'],
          btn:['关闭'],
          yes:function(index,layero)
          {
				 close()
              //index为当前层索引
              layer.close(index)
          },
          cancel:function(){//右上角关闭毁回调
         	 close()
         	/*  var index = parent.layer.getFrameIndex(data.name); //先得到当前iframe层的索引
      		parent.layer.close(index); //再执行关闭 */
          },
          zIndex: layer.zIndex //重点1
          ,success: function(layero){
            layer.setTop(layero); //重点2
          },
          content: "[(${MODULE_NAME})]/manage/"+data.label+"/tree"
      });
  }
  
  function validField(data){
	  layer.open({
      type: 2,
      anim: 0,
      shade: 0,
      title: data.name+"校验配置",
      area: ['90%', '95%'],
      btn:['关闭'],
      yes:function(index,layero)
      {
				 close()
          //index为当前层索引
          layer.close(index)
      },
      cancel:function(){//右上角关闭毁回调
     	 close()
     	/*  var index = parent.layer.getFrameIndex(data.name); //先得到当前iframe层的索引
  		parent.layer.close(index); //再执行关闭 */
      },
      zIndex: layer.zIndex //重点1
      ,success: function(layero, index){
          layer.setTop(layero); //重点2
	   	  var body = layer.getChildFrame('body', index);
	   	  var iframeWin = window[layero.find('iframe')[0]['name']]; //得到iframe页的窗口对象，执行iframe页的方法：iframeWin.method();
	   	  console.log(data)
	   	  body.find('#poIdReload').val(data.label);
	   	  body.find('#poId').val(data.label);
	      /* body.find('#objectId').val(data.id);
	      body.find('#idReload').val(data.id); */
      },
      content: "[(${MODULE_NAME})]/manage/"+data.label+"/FieldValidate/label"
  });
}
  var filedOpened=false;
  function fieldData(data){
	  layer.open({
      type: 2,
      anim: 0,
      shade: 0,
      maxmin: true,
      title: data.name+"-字段配置",
      area: ['90%', '95%'],
      btn:['关闭'],
      full: function(a, b) {
        	$(a).find('.layui-layer-content').css('height','100%');
        	$(a).find('iframe').css('height','100%');
        },
      restore: function(a, b) {
        	$(a).find('iframe').css('height','90%');
        	$(a).find('.layui-layer-content').css('height','90%');
        },
      yes:function(index,layero)
      {
				 close()
          //index为当前层索引
          layer.close(index)
      },
      cancel:function(){//右上角关闭毁回调
     	 close()
     	/*  var index = parent.layer.getFrameIndex(data.name); //先得到当前iframe层的索引
  		parent.layer.close(index); //再执行关闭 */
      },
      zIndex: layer.zIndex //重点1
      ,success: function(layero, index){
    	  if(!filedOpened){
    		  layer.setTop(layero); //重点2
    	   	  var body = layer.getChildFrame('body', index);
    	   	  var iframeWin = window[layero.find('iframe')[0]['name']]; //得到iframe页的窗口对象，执行iframe页的方法：iframeWin.method();
    	   	  console.log(data)
    	   	  body.find('#poLabelReload').val(data.label);
    	   	  body.find('#poLabel').val(data.label);
    	   	  body.find('#idReload').val(data.id);
    	      body.find('#objectId').val(data.id);
    	  }
      },
      content: "[(${MODULE_NAME})]/manage/"+data.label+"/Field"
  });
}
  var $ = layui.$, active = {
		    reload:  function(){
				  var nameReload = $('#nameReload').val();
				  var labelReload = $('#labelReload').val();
				  crudTable.reload({
					  page: {
				            curr: 1 //重新从第 1 页开始
				          }
				          ,where: {
				              name: nameReload
				              ,label:labelReload
				          }
	              });
			  }	
		  };
		  
		  $('.demoTable .layui-btn').on('click', function(){
		    var type = $(this).data('type');
		    active[type] ? active[type].call(this) : '';
		  });
});
function delDomain(po){
	 var genurl = "[(${MODULE_NAME})]/metadata/del";
	 
	 var formData=po.data;
	 
	 $.ajax({
	    type: "post",
	    url: genurl,
        dataType : "json",
        contentType : "application/json;charset=UTF-8",
        data: JSON.stringify(formData),
        success: function (d) {
	      layer.alert(d.msg, {icon: 6})
	      refresh()
	    },
	 	error:function (d) {
		  layer.alert(d.msg, {icon: 5})
		  refresh()
		}
	    });
}
function saveDomain(){
	 var genurl = "[(${MODULE_NAME})]/metadata/save";
	 var formData={};
	 /**if($("#tableName")&&$("#tableName").val()){
		 formData["tableName"]=$("#tableName").val();
	 }
	 if($("#primaryKey")&&$("#primaryKey").val()){
		 formData["primaryKey"]=$("#primaryKey").val();
	 }**/
	 formData["name"]=$("#name").val();
	 formData["label"]=$("#label").val();	 
	 formData["columns"]=$("#columns").val();
	 formData["primaryKey"]=$("#primaryKey").val();
	 formData["header"]=$("#header").val();
	 $.ajax({
	      type: "post",
	      url: genurl,
	      dataType : "json",
	      contentType : "application/json;charset=UTF-8",      //
	      data: JSON.stringify(formData),
	      success: function (d) {
	    	  if(!d.status){
    			   layer.alert(d.msg, {icon: 5})
    		   }else{
    			   layer.alert(d.msg, {icon: 6})
    			   refresh()
    		   }
	           
	      },
	 	  error:function (d) {
		        layer.alert(d.msg, {icon: 5})
		        refresh()
		  }
	    });
}
function refresh(){
	  var nameReload = $('#nameReload').val();
	  var labelReload = $('#labelReload').val();
	  crudTable.reload({
		  page: {
	            curr: 1 //重新从第 1 页开始
	          }
	          ,where: {
	              name: nameReload
	              ,label: labelReload
	          }
    });
}
</script>

</body>
</html>