<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>${logFile}</title>
<script th:src="@{/static/plugin/jQuery/jquery-2.2.3.min.js}"></script>
<script th:src="@{/static/plugin/bootstrap/js/bootstrap.min.js}"></script>
<link rel="stylesheet"
	th:href="@{/static/plugin/bootstrap/css/bootstrap.min.css}" />
<link th:href="@{/static/layui/css/layui.css}" rel="stylesheet" />
</head>
<body>
	<div id="log-container"
		style="height: 450px; overflow-y: scroll; background: #333; color: #aaa; padding: 10px;">
		<div></div>
	</div>
	<div id="closeWS"></div>
</body>
<script>
var hosts="[[${servers}]]";
var hostList=hosts.split(":")[1];
hostList=hostList.split(",");
var port = hosts.split(":")[0];

var sockets={};
var servers={}
for(var index in hostList){
	var hi=hostList[index];
	var logWS=initWS(index,hi)
	sockets[index]=logWS;
}
function initWS(index,hi){
	var logWS = new WebSocket('ws://'+hi+":"+port+'/runlog');
	servers[index]=hi;
	logWS.onmessage = function(event) {
		// 接收服务端的实时日志并添加到HTML页面中
		var divo = $("#log-container div");
		var text = divo.text;
		if(event.data=='initok'){
		    logWS.send("host:"+servers[index]);
		    logWS.send('runtimeLog:0');
			return;
		}
		if(text.length>5000){
			divo.text(text.substring(5000));
		}
		divo.append(event.data);
	    var scrollHeight = divo.prop("scrollHeight");
	    var clientHeight = divo.height();
		var hight=$(document).height()-clientHeight;
	    divo.scrollTop(hight,450);
	}
	return logWS;
}
function closex(){
	for(var index in sockets){
		sockets[index].close();
	}
}

$(document).ready(function() {
});
</script>
</body>
</html>