<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title th:text="|${name}对象管理|"></title>
<link rel="stylesheet"
	th:href="@{/static/plugin/bootstrap/css/bootstrap.min.css}" />
<link th:href="@{/static/layui/css/layui.css}" rel="stylesheet" />
</head>
<body>
	<form class="layui-form" th:id="|edit${tableName}|"
		th:lay-filter="|edit${tableName}|" th:utext="|${formContent}|"></form>

	<script th:src="@{/static/plugin/jQuery/jquery-2.2.3.min.js}"></script>
	<script th:src="@{/static/plugin/bootstrap/js/bootstrap.min.js}"></script>
	<script th:src="@{/static/layui/layui.js}"></script>
	<script th:inline="javascript" type="text/javascript">
		var MODULE_NAME = '[(${MODULE_NAME})]';
	</script>
	<script th:src="@{/static/util.js}"></script>
	<script th:inline="javascript" type="text/javascript">
var currentNode;
[(${layUse})]

	  //监听提交
form.on('submit(edit[(${tableName})])', function(data){
	formSubmit();
 return false;
});
	  
	  //表单取值
//layui.$('#save'+[[${tableName}]]).on('click', formSubmit);

form.render('select');


[(${editIndex})]
  function textEditorValue(data){
	  [(${textEditorValue})]
  }
  form.verify({
	  [(${formVerifyJs})]
	});
  function formSubmit(){
	  var formData={};
	  [# th:each="ci : ${colCodes}"]
	  formData['[(${ci})]']= $('#'+'[(${ci})]').val();
	  [/]
	 var genurl = "[(${MODULE_NAME})]/table/[(${tableName})]/insert";
	 
	 $.ajax({
	    type: "post",
	    url: genurl,
		dataType : "json",
		contentType : "application/json;charset=UTF-8",      
		data: JSON.stringify(formData),
		success: function (d) {
	           layer.alert(d.msg, {icon: 6})
	     	},
			error:function (d) {
	        layer.alert(d.msg, {icon: 5})
	    }
	   });
	}
  
  layui.define(['form'], function(exports){
	  exports('formVal', function(data){
		  form.val('edit[(${tableName})]', data);
	  });
	});
 
  [(${layField})]

  
function initForm(data){
	  [# th:each="ci : ${colCodes}"]
		  $('#'+'[(${ci})]').val(data['[(${ci})]']);
	  [/]
	  
	 [(${codeInit})]
}
</script>
</body>
</html>