<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<script src="https://cdn.staticfile.org/angular.js/1.4.6/angular.min.js"></script>
<style>
table, th , td  {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}
table tr:nth-child(odd)	{
  background-color: #f1f1f1;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}
</style>
</head>
<body>

	<div ng-app="myApp" ng-controller="myCtrl">
		<table>
			<thead>
				<th><p>选择开始节点:</p></th>
			</thead>
			<tr>
				<td><select ng-model="selectedStart"
					ng-options="x.name for x in domains"
					ng-change="startData(selectedStart)">
				</select></td>
			</tr>
			<tr>
				<td>{{selectedStart.name}}</td>
			</tr>
		</table>

		<h1>业务对象{{selectedStart.name}}的接口列表如下：</h1>
		<p>查询: /cd/cruder/{{selectedStart.label}}/query</p>
		<p>list查询:/cd/cruder/{{selectedStart.label}}/list</p>
		<p>新增:/cd/cruder/{{selectedStart.label}}/save</p>
		<p>删除:/cd/cruder/{{selectedStart.label}}/del</p>
		<p>更新: /cd/cruder/{{selectedStart.label}}/update</p>
		<p>字段名称为: {{selectedStart.header}}</p>
		<p>主键为: {{selectedStart.primaryKey}}</p>
		<p>各个接口的参数为JSON对象，属性包含以下字段{{selectedStart.columns}}</p>
		
	<table>
		<thead>
			<tr>
				<th></th>
				<th>名称</th>
				<th>Label</th>
			</tr>
		</thead>
	  <tr ng-repeat="e in startNodes">
	  	<td>{{ $index + 1 }}</td>
	    <td>{{ e.name }}</td>
	    <td>{{ e.label }}</td>
	  </tr>
	</table>
		<h1>{{selectedRelation.name}}</h1>
 </div>
</body>
<script>
	var app = angular.module('myApp', []);
	app.controller('myCtrl', function($scope, $http) {
		$http.post("[(${MODULE_NAME})]/
	metadata/list", {}, {}).then(function(result) {
			$scope.domains = result.data.data;
		});

		
		$scope.startData = function(selectedStart) {
			if(selectedStart!=undefined){
				 	$http.post("[(${MODULE_NAME})]/cruder/"+selectedStart.label+"/list", {}, {})
				    .then(
			    		function successCallback(result) {
			    			if(result.data.hasOwnProperty("data")){			    				
				    	        // 请求成功执行代码
				    			$scope.startNodes = result.data.data;
			    			}
			    	    }, function errorCallback(result) {
			    	        // 请求失败执行代码
			    	 });
			}
		}
	});
</script>
</html>